<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="frags/_head :: head"></head>
<div th:insert="frags/_header :: header"></div>
    <div class="container">
        <img class="logo" th:src="@{/img/wfc_logo.jpg}" alt="wisconsin fried chicken logo">
        <div class="text-center welcome-stuff">
            Welcome to Wisconsin's Fried Chicken!! Home of the most TOP SECRET, WORLD FAMOUS, and DELICIOUS
            boneless chicken!!
        </div>
    </div>
<div th:insert="frags/_footer :: footer"></div>