<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<div th:insert="frags/_head :: head"></div>
<div th:insert="frags/_header :: header"></div>
<div class="container">
    <img class="logo" th:src="@{/img/wfc_logo.jpg}" alt="wisconsin fried chicken logo">
    <div class="text-center welcome-stuff">
        WHOOMP THERE IT IS<br>
        <p class="navvy-stuff">⬇ ⬇ ⬇</p><br>
        <a th:href="@{/redirect/the-secret}">Shhh... It's a secret</a>
    </div>
</div>
<div th:insert="frags/_footer :: footer"></div>